<!--bin/dev starts the server-->
  <h2>
    We played rock!
  </h2>

  <h2>
   They played <%=@comp_move%>!
  </h2>

  <h2 style>
    We <%=@outcome%>!
  </h2>

  <a href="/">Rules</a>

<%# executes the Ruby code %>
<%#= prints information to the erb file %>
